<a href="https://colab.research.google.com/github/rinato/ai_project/blob/master/boston.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
# 라이브러리 사용
import tensorflow as tf
import pandas as pd

In [20]:
# 데이터 준비
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
보스턴 = pd.read_csv(파일경로)
print(보스턴.columns)
보스턴.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [30]:
# 종속변수, 독립변수
독립 = 보스턴[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
종속 = 보스턴[['medv']]
print(독립.shape, 종속.shape)

(506, 13) (506, 1)

In [33]:
# 모델을 만듭니다.
X = tf.keras.layers.Input(shape=[13])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

In [40]:
# 모델을 학습합니다.
model.fit(독립, 종속, epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 1ms/step - loss: 23.6647
Epoch 2/10
16/16 [==============================] - 0s 973us/step - loss: 23.5439
Epoch 3/10
16/16 [==============================] - 0s 2ms/step - loss: 23.4634
Epoch 4/10
16/16 [==============================] - 0s 1ms/step - loss: 24.0494
Epoch 5/10
16/16 [==============================] - 0s 1ms/step - loss: 23.7136
Epoch 6/10
16/16 [==============================] - 0s 886us/step - loss: 23.2445
Epoch 7/10
16/16 [==============================] - 0s 876us/step - loss: 23.7298
Epoch 8/10
16/16 [==============================] - 0s 1ms/step - loss: 23.6940
Epoch 9/10
16/16 [==============================] - 0s 1ms/step - loss: 23.5658
Epoch 10/10
16/16 [==============================] - 0s 805us/step - loss: 23.7902

In [43]:
model.predict(독립[0:10])

array([[29.404705],
       [24.30846 ],
       [30.760567],
       [29.323084],
       [28.924866],
       [25.19756 ],
       [21.787052],
       [18.786   ],
       [10.651087],
       [18.138863]], dtype=float32)

In [45]:
종속[0:10]

   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2
5  28.7
6  22.9
7  27.1
8  16.5
9  18.9

In [46]:
model.get_weights()

[array([[-0.09395859],
        [ 0.04661605],
        [-0.01732915],
        [ 2.6343095 ],
        [-3.408243  ],
        [ 5.172682  ],
        [-0.00962107],
        [-1.0928171 ],
        [ 0.2053894 ],
        [-0.01086492],
        [-0.55026436],
        [ 0.01250641],
        [-0.4657188 ]], dtype=float32), array([10.3115635], dtype=float32)]