<a href="https://colab.research.google.com/github/rinato/ai_project/blob/master/colab_git_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print('colab test')

colab test

In [5]:
# 모델을 loss는 평가하는 지표
# (예측-결과)^2 의 평균
# 0에 가까울수록 정확함.
# github csv url : https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv

In [10]:
# 라이브러리 사용
import tensorflow as tf
import pandas as pd

In [16]:
# 데이터 준비
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'
데이터 = pd.read_csv(파일경로)
데이터.head()

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

In [22]:
# 종속변수, 독립변수
독립 = 데이터[['온도']]
종속 = 데이터[['판매량']]
print(독립.shape, 종속.shape)

(6, 1) (6, 1)

In [23]:
# 모델을 만듭니다.
X = tf.keras.layers.Input(shape=[1])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

In [33]:
# 모델을 학습합니다.
model.fit(독립, 종속, epochs=10)

Epoch 1/10
1/1 [==============================] - 0s 6ms/step - loss: 1.3914e-04
Epoch 2/10
1/1 [==============================] - 0s 15ms/step - loss: 1.3924e-04
Epoch 3/10
1/1 [==============================] - 0s 6ms/step - loss: 1.3936e-04
Epoch 4/10
1/1 [==============================] - 0s 7ms/step - loss: 1.3935e-04
Epoch 5/10
1/1 [==============================] - 0s 7ms/step - loss: 1.3944e-04
Epoch 6/10
1/1 [==============================] - 0s 7ms/step - loss: 1.3940e-04
Epoch 7/10
1/1 [==============================] - 0s 4ms/step - loss: 1.3939e-04
Epoch 8/10
1/1 [==============================] - 0s 4ms/step - loss: 1.3949e-04
Epoch 9/10
1/1 [==============================] - 0s 5ms/step - loss: 1.3959e-04
Epoch 10/10
1/1 [==============================] - 0s 6ms/step - loss: 1.3953e-04

In [34]:
# 모델을 이용합니다.
model.predict(독립)

array([[40.011635],
       [42.011703],
       [44.011772],
       [46.01184 ],
       [48.011913],
       [50.011982]], dtype=float32)

In [36]:
종속

   판매량
0   40
1   42
2   44
3   46
4   48
5   50

In [37]:
model.predict([[15]])

array([[30.011293]], dtype=float32)